.c-item {
    height: 480px;
    width: 1000px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

#fotos-fivestar{
    height: 300px;
    width: 300px;
    margin: auto;
}

#cortesfivestar{
    width: 300px;
    height: auto;
    margin: auto;
}

.f-img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .c-item {
        height: 300px;
    }
}