@charset "UTF-8";

/*fotos da barbearia*/
.c-img{
    height: 400px ;    
}

/*cortes*/
#fotos-fivestar{
    height: 300px;
    width: 300px;
    margin: auto;
}

#cortesfivestar{
    width: 300px;
    height: 400px;
    margin: auto;
}

.f-img{
    object-fit: cover;
}

/*configurações para celulares*/
@media only screen and (max-width:600px){

    /*fotos da barbearia*/
    .c-img{
        height: 250px ;
    }
}