@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    line-height: 1.5em;
}

body{
    background-color: rgb(211, 211, 211);
}

header{
    height: 90px;
    background-color: #0b0716;
    box-shadow: 0px 0px 20px 0px #0b0716ad;
}

.logo{
    width: 80px;
    height: 80px;
    margin:auto;
    border: solid 2px yellow;
    border-radius: 50%;
}

.logo img{
    width: 100%;
    height:100%;
    display: block;
    border-radius: 50px;
}

main{
    max-width: 900px;
    margin: auto;
    padding: 10px;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 20px #000000a3;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

a{
    text-decoration: none;
    transition: 0.8s;
    color: rgb(31, 31, 31);
    font-weight: 600;
}

h1, h2, h3{
    text-align: center;
    padding: 10px;
}

h6{
    text-align: center
}

p{
    text-indent: 30px;
    font-size: 16px;
    text-align: justify;
}

.slides{
    width: 800;
    height: 418px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    margin: auto;
}


.contato a{
    font-size: 1.5em;
}

.agendamento p{
    text-align: center;
    text-indent: 0px;
    padding-bottom: 10px;
}

aside.localizacao{
    background-color: rgba(211, 211, 211, 0.644);
    border-radius: 20px;
    margin: 5px auto;
}

footer{
    background-color: #1f1c2a;
    padding: 10px;
    color: gray;
    text-align:center;
    margin-top: 5px;
}

footer a{
    color:white;
}

abbr{
    text-decoration: none;
}

a:hover{
    color:#daa520;
    text-decoration: underline;
}

li{
    list-style: none;
}

footer > p{
    text-align: center;
    padding: 5px;
}

footer h6{
    padding:0;
    background-color: #0b0716;
    border-radius: 10px;
}

