@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    line-height: 1.5em;
}

header{
    height: 135px;
    background-color:#0b0716 ;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.562);
}

header .logo{
    height: 100px;
    width: 100px;
    margin: auto;
}

main{
    max-width: 1000px;
    margin: auto;
}

.logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid yellow;
}


.menu ul{
    padding: 0;
    display: inline;
    margin: auto;
}

.menu li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
    background-color: #5c5966;
    border-radius: 5px;
}

.sorteio{
    text-align: center;   
    margin-top:10px;
}

.agendamento{
    text-align: center;
}

.agendamento a{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.localizacao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.loc{
    text-align: center;
    margin-right: 50px;
    margin: auto;
}

.informacoes{
    text-align: center;
}



footer{
    text-align: center;
    background-color: #0b0716;
    color:white;
    padding: 10px;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer a{
    text-decoration: none;
    color: white;
}




